<h1>Welcome to Stuffmart</h1>
<h2>Browse our stuff</h2>

<ul>
  <% @products.each do |product| %>
    <li>
      <div class="product-name"><%= product.name %></div>
      <div class="product-description"><%= product.description %></div>
      <div class="product-price">$<%= product.price %></div>
      <div class="product-stock"><%= product.stock %> Available</div>
      <div class="product-category">Category: <%= product.category %></div>
    </li>
  <% end %>
</ul>
